<h2>These ones are popular!</h2>

<p>Steaming hot users... 🥰</p>

<div class="row col-12">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Followers</th>
        <th scope="col">E-mail</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @popular.each do |popular| %>
        <% popular_user = User.find(popular[:user_id]) %>
        <tr>
          <td><%= popular[:followed] %></td>
          <td><%= popular_user.email %></td>
          <td><%= popular_user.first_name %></td>
          <td><%= popular_user.last_name %></td>
          <td>
            <% if current_user != popular_user %>
              <%= link_to 'View Profile', user_path(popular_user),
                                    class: 'btn btn-sm btn-success' %>
              <% if current_user.not_friends_with?(popular_user.id) %>
                    <%= link_to 'Follow friend?', friendships_path(friend: popular_user),
                                  class: "btn btn-sm btn-success", method: :post %>
              <% else %>
                <span class="badge badge-primary">
                  You are friends
                </span>
              <% end %>
            <% else %>
              <span class="badge badge-secondary">
                  Avoid paradoxes, it's yourself
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
